body {
    background-color: #c6c6c6;

}



.TripListPage-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 50px;
  }

.container-trip {
    width: 100%;
    align-items: center;
}