a.menu-link {
    color: #fac800;
    font-weight: 600;
}

a.menu-link:hover {
    color: #ffffff;
}

img.logo{
    width: 300px;
}
img.adminlogo{
    width: 55px;
    height: 60px;
}


.subtitle {
    margin-top: 28px;
}